#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-interchange {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #000000;
  gap: .5rem;
  /* display: flex; */
  /* background-color: #5F5FF6; */
}

span {
  color: #000000;
  font-weight: bold;
}

.active {
  color: #000000;
  /* border-color: #5F5FF6; */
}
.disabled {
  color: #948e8e;
}

